<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Grow2</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
   <link rel="shortcut icon" href="landing/images/logo-circle.png">
    <link rel="apple-touch-icon" href="landing/images/logo-circle.png">
    <link rel="stylesheet" href="landing/stylesform.css">
	<link rel="stylesheet" href="landing/css/base.css">
   <link rel="stylesheet" href="landing/css/vendor.css">  
   <link rel="stylesheet" href="landing/css/main.css"> 
	
	
   <!-- script
   ================================================== -->
	<script src="landing/js/modernizr.js"></script>
	<script src="landing/js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header> 

   	<div class="header-logo">
	      <a href="javascript:void(0)">Grow2</a>
	   </div> 
		<a id="header-menu-trigger2" href='#' data-toggle="modal" data-target="#login-modal" >
			<span class="header-menu-text2">Login</span>
		</a>
		
		<a id="header-menu-trigger" href="#0">
		 	<span class="header-menu-text">Menu</span>
		  	<span class="header-menu-icon"></span>
		</a>


		



		<nav id="menu-nav-wrap">

			<a href="#0" class="close-button" title="close"><span>Close</span></a>	

	   	<h3>Grow2</h3>  

			<ul class="nav-list">
				<li class="current"><a class="smoothscroll" href="#home" title="">Home</a></li>
				<li><a class="smoothscroll" href="#about" title="">About</a></li>
				<li><a class="smoothscroll" href="#about2" title="">Services</a></li>
				<li><a class="smoothscroll" href="#community" title="">Community</a></li>
				<li><a class="smoothscroll" href="#pricing" title="">Pricing</a></li>
				<li><a class="smoothscroll" href="#contact" title="">Start Free Trial</a></li>						
			</ul>	

			<p class="sponsor-text">
				{{!-- Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">DreamHost</a>.
				Get <span>$50 off</span> when you sign up with the promocode <span>styleshout</span>. 
				<!-- Simply type	the promocode in the box labeled “Promo Code” when placing your order. --> --}}
			</p>			

			<ul class="header-social-list">
	         <li>
	         	<a href="#"><i class="fa fa-facebook-square"></i></a>
	         </li>
	         <li>
	         	<a href="#"><i class="fa fa-twitter"></i></a>
	         </li>
	         <li>
	         	<a href="#"><i class="fa fa-instagram"></i></a>
	         </li>
            <li>
            	<a href="#"><i class="fa fa-behance"></i></a>
            </li>
	         <li>
	         	<a href="#"><i class="fa fa-dribbble"></i></a>
	         </li>	         
	      </ul>		

		</nav>  <!-- end #menu-nav-wrap -->

	</header> <!-- end header -->  


<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

  <div class="modal-dialog">
    <div class="loginmodal-container">
      
      <h1>Choose Your Login</h1><br>
      
      <div class="login-box">
			<a href="/l/creator" class="social-button" id="facebook-connect"> <span>Login as Creator</span></a>
			<a href="/l/mentor" class="social-button" id="facebook-connect"> <span>Login as Mentor</span></a>
			<a href="/l/member" class="social-button" id="facebook-connect"> <span>Login as Member</span></a>
		</div>

      <div class="login-help">
        <a href="#">Join</a> - <a href="#">Forgot Password</a>
      </div>				
    
    </div>
   </div>

</div>

   <!-- home
   ================================================== -->
   <section id="home">

   	<div class="overlay"></div>
		<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="landing/video/back.mp4" type="video/mp4">
  </video>
   	<div class="home-content-table">	
		   <div class="home-content-tablecell">
		   	<div class="row">
		   		<div class="col-twelve">		   			
			  		
			  				<h3 class="animate-intro">Ready, Set, Grow!</h3>
				  			<h1 class="animate-intro">
							Build high performing</h1> <br>
							<h3>Digital Experience
							For your club.</h3>
				  			</h1>	

				  			<div class="more animate-intro">
				  				<a class="smoothscroll button stroke" href="#about">
				  					Let's Explore
				  				</a>
				  			</div>							

			  		</div> <!-- end col-twelve --> 
		   	</div> <!-- end row --> 
		   </div> <!-- end home-content-tablecell --> 		   
		</div> <!-- end home-content-table -->

		<ul class="home-social-list">
	      <li class="animate-intro">
	        	<a href="#"><i class="fa fa-facebook-square"></i></a>
	      </li>
	      <li class="animate-intro">
	        	<a href="#"><i class="fa fa-twitter"></i></a>
	      </li>
	      <li class="animate-intro">
	        	<a href="#"><i class="fa fa-instagram"></i></a>
	      </li>
         <li class="animate-intro">
           	<a href="#"><i class="fa fa-behance"></i></a>
         </li>
	      <li class="animate-intro">
	        	<a href="#"><i class="fa fa-dribbble"></i></a>
	      </li>	      
	   </ul> <!-- end home-social-list -->	

		<div class="scrolldown">
			<a href="#about" class="scroll-icon smoothscroll">		
		   	Scroll Down		   	
		   	<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
			</a>
		</div>			
   
   </section> <!-- end home -->


   <!-- about
   ================================================== -->
   <section id="about">

   	<div class="row about-wrap">
   		<div class="col-full">

   			<div class="about-profile-bg"></div>

				<div class="intro">
					<h3 class="animate-this">About Us</h3>
					<video playsinline="playsinline" width="50%" height="25%" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
	   			<p class="lead animate-this"><span>Grow2</span> provides a multi featured platform to help sporting clubs create content. Our vision is to help your club build culture, skills, progression plans, facility information and much more. This information can be stored and delivered directly to anyone in your club.</p>	
				</div>   

   		</div> <!-- end col-full  -->
   	</div> <!-- end about-wrap  -->

   </section> <!-- end about -->	

   <!-- about
   ================================================== -->

	<!--  features Section   -->
	<section id="about2">
		<div class='row'>
			<div class='col-four tab-full logo'>
				<img src='landing\images\logo-circle.png'>	
			</div>
			<div class='col-four tab-full text'>
				<p class='title'>Features</p>
			</div>
			<div class='col-four tab-full text'>

			</div>
		</div>
   	<div class="row">
   		

     		<div class="col-six tab-full about2-section">

		     	

		      <p style='text-align:left;font-weight:normal'><a href="#"><img width="120" height="120" class="pull-left" alt="sample-image" src="landing/images/Communicate.png"></a>
		  		<br>Fast and reliable communication is critical  to running a great club. Deliver information directly to your members and volunteers and ensure everyone knows exactly what they need to know. </p>

		      <p style='text-align:left;font-weight:normal'><a href="#"><img width="120" height="120" class="pull-left" alt="sample-image" src="landing/images/Community.png"></a>
		  		<br>Club culture can influence the very core of how your club operates. Create a positive and supportive culture by sharing your club’s history, values and vision for the future.</p>
			
				<p style='text-align:left;font-weight:normal'><a href="#"><img width="120" height="120" class="pull-left" alt="sample-image" src="landing/images/Compliance.png"></a>
		  		<br>Manage your club’s records, insurances, and compliance documentation  in one easy-to-access location. </p>

			</div>
			<div class="col-six tab-full about2-section">

		     	

		      <p style='text-align:left;font-weight:normal'><a href="#"><img width="120" height="120" class="pull-left" alt="sample-image" src="landing/images/Create.png"></a>
		  		<br>Create and share courses and content with your members. Create training courses, interviews with past players, questionnaires and more. You’re only limited by your imagination! 	</p>

				<p style='text-align:left;font-weight:normal'><a href="#"><img width="120" height="120" class="pull-left" alt="sample-image" src="landing/images/Contractor Management.png"></a>
		  		<br>Manage all of your club’s contractors in one convenient location. Keep track of the work that has been completed and plan for the future. </p>
			</div>
   	</div> <!-- end about-wrap  -->

   </section>


	<!-- features Section  -->

	<!-- Community Section -->

	<section id="community">
		<div class='row'>
			<div class='col-four tab-full logo'>
				<img src='landing\images\logo-circle.png'>	
			</div>
			<div class='col-four tab-full text'>
				<p class='title'>Community</p>
			</div>
			<div class='col-four tab-full text'>

			</div>
		</div>
   	<div class="row">
   		

     		<div class="col-twelve tab-full community-content">

		     	

		      <p style='text-align:left;font-weight:normal'><a href="#"><img width="120" height="120" class="pull-left" alt="sample-image" src="landing/images/icon-1.png"></a>
		  		<br>Our marketplace is designed to bring knowledge from content creators to support development. Content creators are specialists in fields such as facility management, strength and conditioning, nutrition, mental health and much more. Our marketplace also provides clubs an oppurtunity to create a new revenue stream by delivering content to other clubs. Marketplace is available to clubs and members</p>



			</div>
			<div class="col-twelve tab-full community-content">

		     	

		      <p style='text-align:left;font-weight:normal'><a href="#"><img width="120" height="120" class="pull-left" alt="sample-image" src="landing/images/icon-2.png"></a>
		  		<br>Our Grow2 life function links members to health professionals in physiotherapy, physcology and other health practices. Members can simple click on the Grow2 life button in their menu. The feature gives the user the ability to look at professionals profile and send a message to someone for support.</p>



			</div>
			<div class="col-twelve tab-full community-content">

		     	

		      <p style='text-align:left;font-weight:normal'><a href="#"><img width="120" height="120" class="pull-left" alt="sample-image" src="landing/images/icon-3.png"></a>
		  		<br>Fast and reliable communication is critical  to running a great club. Deliver information directly to your members and volunteers and ensure everyone knows exactly what they need to know. </p>



			</div>		
   	</div> <!-- end about-wrap  -->

   </section>

	<!-- Community section -->


   
	<section id='pricing' class='content'>
		  <div class="container">
			<div class="row-fluid clearfix">
			  
			  <div class="pricing-wrapper comparison-table clearfix style-3">
				<div class="col-md-3 pricing-col list-feature">
				  <div class="pricing-card">
					<div class="pricing-header">
					  <h5>Choose Your Plan</h5>
					  <p>Compare Package Feature</p>
					</div>
					<div class="pricing-feature">
					  <li>
						<p>Content Creation</p>
					  </li>
					  <li>
						<p>Team Creation</p>
					  </li>
					  <li>
						<p>Automated Delivery</p>
					  </li>
					  <li>
						<p>Monitoring</p>
					  </li>
					  <li>
						<p>Videos on Grow2 Youtube</p>
					  </li>
					  <li>
						<p>Remove video advertisement</p>
					  </li>
					  <li>
						<p>Training Session <span class='additional'>With Grow2 consultant</span></p>
						
					  </li>
					  <li>
						<p>Data Storage</p>
					  </li>
					  <li>
						<p>Technical Support / Help Desk</p>
					  </li>
					</div>
				  </div>
				</div>
				<div class="col-md-3 pricing-col person">
				  <div class="pricing-card">
					<div class="pricing-header">
					  <h5>BASIC</h5>
					  <div class="price-box">
						<div class="price">0
						  <div class="currency">$</div>
						  <div class="plan">/ Mo</div>
						</div>
					  </div>
					</div>
					<div class="pricing-feature">
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
						<p></p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
						<p></p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-times"></i>
						</p>
						<p></p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-times"></i>
						</p>
						<p></p>
					  </li>
					  <li>
						<p>
						  <span>100 MB</span>
						</p>
					  </li>
					  <li>
						  <p>
							  <span><i class="fa fa-check available"></i></span>
						  </p>
					  </li>
					</div>
					<div class="pricing-footer">
					  <a href="#" class="btn btn-act rounded btn-line">
						<span>Order Now</span>
						<i class="fa fa-arrow-right"></i>
					  </a>
					</div>
				  </div>
				</div>
				<div class="col-md-3 pricing-col current unlim">
				  <div class="pricing-card">
					<div class="pricing-header">
					  <h5>Standard</h5>
					  <a href="" class="ribbon">
						<i class="fa fa-star"></i>
						<span>Feature</span>
					  </a>
					  <div class="price-box">
						<div class="price">50
						  <div class="currency">$</div>
						  <div class="plan">/ Mo +GST</div>
						</div>
					  </div>
					</div>
					<div class="pricing-feature">
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-times"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-times"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <span>150 GB</span>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					</div>
					<div class="pricing-footer">
					  <a href="#" class="btn btn-act rounded btn-line">
						<span>Order Now</span>
						<i class="fa fa-arrow-right"></i>
					  </a>
					</div>
				  </div>
				</div>
				<div class="col-md-3 pricing-col business">
				  <div class="pricing-card">
					<div class="pricing-header">
					  <h5>Pro</h5>
					  <div class="price-box">
						<div class="price">100
						  <div class="currency">$</div>
						  <div class="plan">/ Mo +GST</div>
						</div>
					  </div>
					</div>
					<div class="pricing-feature">
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-times"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>(1X 1h session)
						</p>
					  </li>
					  <li>
						<p>
						  <span>450 GB</span>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					</div>
					<div class="pricing-footer">
					  <a href="#" class="btn btn-act rounded btn-line">
						<span>Order Now</span>
						<i class="fa fa-arrow-right"></i>
					  </a>
					</div>
				  </div>
				</div>
				<div class="col-md-3 pricing-col business">
				  <div class="pricing-card">
					<div class="pricing-header">
					  <h5>Enterprise</h5>
					  <div class="price-box">
						<div class="price">150
						  <div class="currency">$</div>
						  <div class="plan">/Mo +GST</div>
						</div>
					  </div>
					</div>
					<div class="pricing-feature">
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-times"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check avsailable"></i>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i> (3X 1h session)
						</p>
					  </li>
					  <li>
						<p>
						  <span>750 GB</span>
						</p>
					  </li>
					  <li>
						<p>
						  <i class="fa fa-check available"></i>
						</p>
					  </li>
					</div>
					<div class="pricing-footer">
					  <a href="#" class="btn btn-act rounded btn-line">
						<span>Order Now</span>
						<i class="fa fa-arrow-right"></i>
					  </a>
					</div>
				  </div>
				</div>
			  </div>

			</div>
		  </div>
		</section>
	

   


  


   <!-- Testimonials Section
   ================================================== -->
   <section id="contact">
      <div class="overlay"></div>
   	<div class="row contact-content">
   		<div class="col-twelve tab-full animate-this">

			<form action="" class="signup-form" id="contactForm">
          <div class="signup-form__form">
            <div class="logo logo--stacked">
              <img src="landing/images/logo-circle.svg" alt="Grow2" class="logo__img logo__img--large">
            </div>
            <div class="text-centered">
              <h2 class="pressed hero__title">Sign up now!</h2>
              <p>30 day free trial. No credit card required.</p>
            </div>
            <div class="form__group">
              <label for="signup-first">First name</label>
              <input type="text" class="input" id="signup-first" placeholder="John" autocomplete="off" required>
            </div>
            <div class="form__group">
              <label for="signup-last">Last name</label>
              <input type="text" class="input" id="signup-last" placeholder="Smith" autocomplete="off" required>
            </div>
            <div class="form__group">
              <label for="signup-email">Email</label>
              <input type="email" class="input" id="signup-email" placeholder="john@smith.com" autocomplete="off" required>
            </div>
            <hr>
            <div class="form__group">
              <label for="signup-company">Name of sporting club</label>
              <input type="text" class="input" id="signup-company" placeholder="Southside Devils" autocomplete="off" required>
            </div>
            <div class="form__group">
              <button type="submit" id="signup-form-action" class="btn btn--block signup-form__action">
                <span>Sign up</span>
                <span>Creating account&hellip;</span>
              </button>
            </div>
          </div>
          <div class="signup-form__thanks text-centered">
            <h1 class="hero__title">Welcome to Grow2!</h1>
            <p>We're so happy you could join us. You are not far away from the best club experience available.</p>
            <p>Please check the email below to complete your signup.</p>
            <div class="signup-form__email" id="signup-form-to"></div>
          </div>
          <div class="signup-form__error text-centered">
            <h2 class="hero__title">Something went wrong!</h2>
            <p>We are not sure why but there was an error on our end. <br>Please try again later.</p>
            <button class="btn" onclick="window.location.reload(true)">Try again</button>
          </div>
        </form>

            <!-- form -->
            <!-- end form -->

            <!-- contact-warning -->
            <div id="message-warning"></div> 

            <!-- contact-success -->
      		<div id="message-success">
               <i class="fa fa-check"></i>Your message was sent, thank you!<br>
      		</div>

         </div> <!-- end col-seven --> 

   	</div> <!-- end row contact-content -->
		
	</section> <!-- end contact -->
     	

   	<div class="footer-bottom">

      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright Grow2.</span> 
		         	<span>Design by <a href="mailto:darshakshah1988@gmail.com">Darshak Shah</a></span>		         	
		         </div>		               
	      	</div>

      	</div>   	

      </div> <!-- end footer-bottom -->

      <div id="go-top">
		   <a class="smoothscroll" title="Back to Top" href="#top">
		   	<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
		   </a>
		</div>		
   </footer>

   {{!-- <div id="preloader"> 
    	<div id="loader"></div>
   </div>  --}}

   <!-- Java Script
   ================================================== --> 
   <script src="landing/js/jquery-2.1.3.min.js"></script>
   <script src="landing/js/plugins.js"></script>
   <script src="landing/js/main.js"></script>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
		


</body>

</html>