.btn--sponsor{
    width: auto;

}
.text-right{
    text-align: right;
}
.meeting-modal .Modal__content {
    max-width: 350px;
    .mx-calendar.mx-calendar-panel-date{
        width: 100%;
    }
}
select.input {
    background: #fff;
}